.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems .dialog {
    padding: 10px;
}
.dialogItems .dialog a{
    text-decoration: none;
    color: black;
}

.messages {
    justify-self: center;
}

.message {
    padding: 10px;
}

.textarea {
    margin-top: 10px;
    margin-left: 10px;
}
